.titulo {
  font-family: Bebas Neue, sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 3em;
  letter-spacing: 0.155em;
  text-align: center;
}

.titulo:hover {
  transition: transform 0.3s ;
  transform: scale(1.1);
}
