footer {
  background-color: #6f0154;
  margin-top: 6em;
  padding: 2em;
  color: white;
}

.footer-contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contacto h3 {
  font-family: Bebas Neue;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 0.174em;
  text-align: left;
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10em;
  font-family: Inter;
  font-size: 1em;
  font-weight: 400; 
  letter-spacing: 0.175em;
  text-align: left;
}

.footer-email,
.footer-telefono {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
}

.circulo-naranja,
.circulo-blanco {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 10px;
}

.circulo-naranja {
  background-color: orange;
}

.circulo-blanco {
  background-color: white;
}

.footer-derechos {
  margin-top: 10px;
  text-align: center;
}
